<!-- <body style="background-color: lightgray;">

 
</body> -->
<!-- <app-loading *ngIf="isLoading"></app-loading> -->

 <!-- <div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div> -->
<!-- <label>{{this.data.Status}}{{this.data.Message}}</label> -->
<!-- <div style="vertical-align:auto;">
      <input type="checkbox" (click)="toggleFieldTextType()" style="width: 20px; height: 20px;"/> &nbsp; &nbsp;
      <label class="labeltext">Show Password</label>  
    </div> -->
          <!-- <input class="form-control"[type]="fieldTextType ? 'text' : 'password'"name="password" placeholder="password"[(ngModel)]='password' required> -->



<div class = "login">
  <div class="float-child1" style="background-image: url('https://adminiot.iotsolution.net/Ticket_Files/summaryImages/analytics.jpg');background-position: center; background-repeat: no-repeat;background-size:cover;position: relative;width: 60%;height: 100%;">

  </div>
  <div class="float-child2" style="background-color: white;;height:100%">
    <div>
      <div style="margin-left: 10%;margin-top: 25%;">
        <input type="image" src="https://adminiot.dgtrak.online/FTP_Sensorcnt/domain/ib.png" class="logo" style="width: 50%;margin-left: 76px;" />
        <br/><br/>
        <div>
          <label class="labeltext">User ID</label><br/>
          <input type="text" [(ngModel)]="username"  class="container">
        </div>
          <div>
            <label class="labeltext">Password</label><br/>
            <input [type] = "fieldTextType ? 'text' : 'password' "class="container" [(ngModel)]="password" />
      
            <span style="margin-left:-25PX"><i class="fa" [ngClass]="{ 'fa-eye-slash': !fieldTextType, 'fa-eye': fieldTextType }" (click)="toggleFieldTextType()"></i></span>
          </div>
          
        <br/>
        <input type="button" value="Login" (click)="login()" style="background-color: #02C27F; color:white;font-size: larger;" class="container">
      </div>
    </div>
  </div>
</div>