<body style="background-color: lightgray;">

  <!-- <div class="text-center">
    <input class="form-control" type="file" 
            (change)="onChange($event)">
  
    <button (click)="onUpload()" 
        class="btn btn-success">
        Upload
    </button>
</div> -->
<!-- <label>{{this.data.Status}}{{this.data.Message}}</label> -->
  <div class = "login">
    <div style="margin-left:5%;margin-top:10%">
      <div>
        <label class="labeltext">User ID</label><br/>
        <input type="text" [(ngModel)]="username"  class="container">
      </div>
        <div>
          <label class="labeltext">Password</label><br/>
          <input [type] = "fieldTextType ? 'text' : 'password' "class="container" [(ngModel)]="password" />
          <!-- <input type="password" [(ngModel)]="password" class="container"> -->
          <!-- <span >
            <i
              class="fa"
              [ngClass]="{
                'fa-eye-slash': !fieldTextType,
                'fa-eye': fieldTextType
              }"
              (click)="toggleFieldTextType()"
            ></i>
          </span> -->
        </div>
        <div style="vertical-align:auto;">
          <input type="checkbox" (click)="toggleFieldTextType()" style="width: 20px; height: 20px;"/> &nbsp; &nbsp;
          <label class="labeltext">Show Password</label>  
        </div>
      <br/>
      <input type="button" value="Login" (click)="login()" style="background-color: #02C27F; color:white;font-size: larger;" class="container">
    </div>
  </div>
</body>
<!-- <app-loading *ngIf="isLoading"></app-loading> -->
