<!-- *ngIf="hideData" -->
<!-- <div style = "margin-left:560px"> <button (click)="download()">sendMail</button></div> -->
<!--<div id="pdfGenerator" (onload)="download()">
  <div class="row"  style=" text-align: center;color: white; background-color:#696969;font-size: 30px;margin-left: 28px;width: 93.5%;">
    <div class="col-md-6">
      <p>
      DG Trak MIS Report</p>
    </div>
    
  </div>
  <div class="row" style="margin-left:1px">
    <div class="col-md-6">
      <div class="table1" id="table11">
        <table>
          <tr>
            <td style="background-color:	rgb(100, 181, 246);" class="size">Total Devices<br />
              <div class="size1">{{totalDevice}}</div>
            </td>&nbsp;
            <td style="background-color:	rgb(129, 199, 132);" class="size">Reporting<br />
              <div class="size1">{{totalReporting}}</div>
            </td>&nbsp;
            <td style="background-color:	rgb(97, 97, 97);" class="size">Not Reporting<br />
              <div class="size1">{{totalNotReporting}}</div>
            </td>&nbsp;
            <td style="background-color:	rgb(206, 147, 216);" class="size">Domain<br />
              <div class="size1">{{totalDomain}}</div>
            </td>&nbsp;
            <td style="background-color:	rgb(240, 98, 146);" class="size">Sub Domain<br />
              <div class="size1">{{totalSubDomain}}</div>
            </td>&nbsp;
            <td style="background-color:	rgb(76, 175, 80);" class="size">Regions/Loc.<br />
              <div class="size1">{{Regions}}</div>
            </td>&nbsp;
            <td class="reportAt">Report At:<br /><br />
              <div style="font-size: 20px;">{{DateTime.reportAt}}</div>
            </td>&nbsp;
          </tr>
        </table>
      </div>
    </div>
  </div>
  <br/>
  <div class="row" style="width: 94%; margin-left: 27px;">
    <div class="col-md-6">
      <div>
        <table>
          <thead>
            <tr style="font-size: 15px; font-family: Arial; font-weight: lighter;  background-color: #775DD0;color: #fff; text-align: center;">
              <th style="width: 34px;"></th>
              <th style="width:100px">C_CID</th>
              <th style="width: 256px; text-align: center;">Domain</th>
              <th style="width: 154px;">Sub Domain</th>
              <th style="width:154px">Total Device</th>
              <th style="width:100px">Reporting</th>
              <th style="width:100px">N.Reporting</th>
              <th style="width:100px">Reporting%</th>
              <th style="width:100px">Good</th>
              <th style="width:100px">warning</th>
              <th style="width:100px">Critical</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let user of FilteredDetails;let i = index"
              [ngStyle]="{'background-color':i%2==0?' #FFFF':'#D8DFEE'}" style="text-align: center;" >
              <td style="width:30px">{{i+1}}.</td>
              <td style="width:100px">{{user.C_CID}}</td>
              <td style="overflow: hidden; text-overflow: ellipsis;white-space: nowrap;width: 155px;">
                {{user.domain}}
              </td>
              <td style="width:154px"><a href="{{user.portal}}" target="_blank"
                  rel="noopener noreferrer">{{user.subDomain}}</a></td>
              <td style="width:154px">{{user.totalDevice}}</td>
              <td style="width:100px">{{user.reporting}}</td>
              <td style="width:100px">{{user.notReporting}}</td>
              <td style="width:100px">{{reporting[i]}}</td>
              <td style="width:100px">{{user.Good}}</td>
              <td style="width:100px">{{user.Warning}}</td>
              <td style="width:100px">{{user.Critical}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>-->
<app-loading *ngIf="isLoading"></app-loading>
<div id="Total Content" style="background-color: #fff;background-image: none;">
  <br />
  <div class="topnav">
    <div class="col-md-4" style="padding-top:1px ;"><span><img src="https://ideabytesiot.com/icn/ideabytes-iot.png"
          style="border: 2px solid #696969;background-color: white; width: 50%;" /></span></div>
    <div class="col-md-6" style="color:white;font-family:'Times New Roman';font-size:30px">Ideabytes IoT MIS Report
    </div>
    <div class="col-md-2" style="margin-top:8px;">
      <h1 style="text-align:center;margin-top:0" [hidden]="hidelogout"><span (click)="Logout()" id="B-logout"><i
            class="fa fa-sign-out" aria-hidden="true" title="Logout"></i></span></h1>
    </div>
    <!-- <h1 class="col-md-11">Ideabytes IoT MIS Report</h1> -->
  </div>
  <!-- <header><h1 class="col-md-11">Ideabytes IoT MIS Report</h1><h1 style="height: 33px" class="col-md-1"><span (click)="Logout()" id="B-logout" ><i class="fa fa-sign-out" aria-hidden="true" title="Logout" ></i></span></h1></header> -->
  <br />
  <!-- <div style="background-color: #696969; width:50%; height:40px"><h1>DG Trak MIS Report</h1><h1 (click)="Logout()"><i class="fa fa-sign-out" aria-hidden="true" title="Logout" ></i></h1></div> -->
  <!-- <h1>DG Trak MIS Report <span (click)="Logout()"><i class="fa fa-sign-out" aria-hidden="true" title="Logout" ></i></span></h1>  -->
  <div class="table1" id="table1">
    <table>
      <tr>
        <td style="background-color:	rgb(100, 181, 246);" class="size">Total Devices<br />
          <div class="size1">{{totalDevice}}</div>
        </td>&nbsp;
        <td style="background-color:	rgb(129, 199, 132);" class="size">Reporting<br />
          <div class="size1">{{totalReporting}}</div>
        </td>&nbsp;
        <td style="background-color:	rgb(97, 97, 97);" class="size">Not Reporting<br />
          <div class="size1">{{totalNotReporting}}</div>
        </td>&nbsp;
        <td style="background-color:	rgb(206, 147, 216);" class="size">Domain<br />
          <div class="size1">{{totalDomain}}</div>
        </td>&nbsp;
        <td style="background-color:	rgb(240, 98, 146);" class="size">Sub Domain<br />
          <div class="size1">{{totalSubDomain}}</div>
        </td>&nbsp;
        <td style="background-color:	rgb(76, 175, 80);" class="size">Regions/Loc.<br />
          <div class="size1">{{Regions}}</div>
        </td>&nbsp;
        <td style="background-color: #daf1de; color: black; border:1px black" class="size">SMS Balance(₹)<br />
          <div class="size1"
            [ngStyle]="{'color': (smscredits>750) ? '#4caf50' : (smscredits<750 && smscredits>499) ? '#EF820D' : (smscredits<500) ? '#ed0231':'black'}">
            {{smscredits}}</div>
        </td>&nbsp;
        <td style="background-color:	rgb(95, 143, 247);" class="reportAt">
          <div style="font-size: 15px;">@{{DateTime}}</div>
        </td>&nbsp;
      </tr>
    </table>
  </div>
  <br />
  <!-- <div class="button"> -->
  <div class="row" style="padding-left:1%;">
    <div class="col-md-2" style="width: 12%; text-align: center;height: 26px;">
      <div style="background-color: #5aa3e4;
      color: white;
      height: 26px;
      line-height: 2;
      border-radius: 5px;cursor: pointer;" (click)="mailConfig()">
        <i class="fa fa-envelope-o" title="Mail Configuration"></i> Mail Config.
      </div>
    </div>
    <div class="col-md-3">
      <input type="text" name="searchText" (keyup)="Search()" [(ngModel)]="searchText" placeholder="search here..."
        class="search">
    </div>
  </div>
  <!-- <input type="image"  src="../../assets/mailconfig.png" alt=""  (click)="mailConfig()" class="mailConfig" title="Mail Configuration"/>&nbsp;&nbsp; -->
  <!-- <img src="../../assets/mailconfig.png" alt=""  /></button> -->
  <!-- <input type="button" style="width: 100px;height: 25px;" value="mailConfig" (click)="mailConfig()" class="search"> -->
  <!-- </div> -->
  <app-mailconfig-model #modal></app-mailconfig-model>
  <br />
  <div id="table2" style="padding-left: 1%;">
    <div class="child-div1"
      style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;">
      <div style="overflow-y: scroll; height:350px; width: 100%; ">
        <table>
          <thead>
            <tr>
              <th style="width: 34px;text-align: center;">Sl.No</th>
              <th style="width:100px;text-align: center;">C_CID</th>
              <th style="width: 200px; text-align: center;">Domain</th>
              <th style="width: 154px;text-align: center;">Sub Domain</th>
              <!-- <th style="width:154px">Total Device</th>
                <th style="width:100px">Reporting</th> -->
              <!-- <th style="width:150px">Devices</th> -->
              <th style="width:150px;text-align: center;">Reporting</th>
              <th style="width:100px;text-align: center;">N.Reporting</th>
              <th style="width:100px;text-align: center;">Good</th>
              <th style="width:100px;text-align: center;">warning</th>
              <th style="width:100px;text-align: center;">Critical</th>
              <th style="width:100px;text-align: center;">License</th>
              <!-- <th style="width:100px;text-align: center;">Active</th>
              <th style="width:100px;text-align: center;">InActive</th> -->
              <!-- <th style="width:100px">More</th>
                <th style="width:100px">More2</th> -->
            </tr>
          </thead>
          <tr *ngFor="let user of FilteredDetails;let i = index"
            [ngStyle]="{'background-color':i%2==0?' #FFFF':'#D8DFEE'}">
            <td style="width:34px;text-align: center;">{{i+1}}.</td>
            <td style="width:100px;text-align: center;">{{user.C_CID}}</td>
            <td style="overflow: hidden; text-align: center;text-overflow: ellipsis;white-space: nowrap;width: 200px;">
              {{user.domain}}
            </td>
            <td style="width:154px;text-align: center;"><a href="{{user.portal}}" target="_blank"
                rel="noopener noreferrer">{{user.subDomain}}</a></td>
            <!-- <td style="width:154px">{{user.totalDevice}}</td>
              <td style="width:100px">{{user.reporting}}</td> -->
            <!-- <td style="width:150px">{{user.Devices}}</td> -->
            <!-- <td style="width:100px">{{user.ReportingPercent}}</td> -->
            <td style="width:150px;text-align: center;">{{user.ReportingTot}}</td>
            <td style="width:100px;text-align: center;">{{user.notReporting}}</td>
            <td style="width:100px;text-align: center;">{{user.Good}}</td>
            <td style="width:100px;text-align: center;">{{user.Warning}}</td>
            <td style="width:100px;text-align: center;">{{user.Critical}}</td>
            <td style="width:100px;text-align: center;">
              {{user.License}} <i class="fa fa-server" aria-hidden="true" data-bs-toggle="modal"
                (click)="getClientId(user.C_CID)" data-bs-target="#exampleModal"></i>
            </td>
            <!-- -->
            <!-- <td style="width:100px;text-align: center;"></td>
            <td style="width:100px;text-align: center;"></td> -->
            <!-- <td style="width: 100px;">{{user.Devices}}</td>
              <td style="width: 100px;">{{user.ReportingPercent}}</td> -->
          </tr>
        </table>
      </div>
    </div>
    <div #map class="child-div2" style="width: 20%; height: 350px;padding-left: 10px;"></div>
  </div>
  <br /><br />
  <div style="margin-left: 40%; font-family: 'Times New Roman'; font-size: 15px;">
    <table>
      <tr>
        <td>
          <div style="height: 10px;width: 10px; background-color: rgb(0, 143, 251);"></div>
        </td>
        <td>Total</td>&nbsp;<td>
          <div style="height: 10px;width: 10px; background-color: rgb(0, 227, 150);"></div>
        </td>
        <td>Reporting</td>
        <td>
          <div style="height: 10px;width: 10px; background-color: rgb(254, 176, 25);"></div>
        </td>
        <td>Good</td>&nbsp;<td>
          <div style="height: 10px;width: 10px; background-color: rgb(255, 22, 84);"></div>
        </td>
        <td>Warning</td>&nbsp;<td>
          <div style="height: 10px;width: 10px; background-color: #775DD0;"></div>
        </td>
        <td>Critical</td>
      </tr>
    </table>
  </div>
  <br />
  <div>
    <select [(ngModel)]="selectValue" (change)="select()" class="chartSelect">
      <option>Top Three subDomain</option>
      <option>Top Five subDomain</option>
      <option>Bottom Three subDomain</option>
      <option>Bottom Five subDomain</option>
    </select>
  </div>
  <br />
  <!-- <div>
      <app-charts [divid]="chart5"></app-charts>
      <app-charts [divid]="chart1"></app-charts>
      <app-charts [divid]="chart2"></app-charts>
      <app-charts [divid]="chart3"></app-charts>
    </div> -->
  <div class="parent-chart" id="parent-chart">
    <div class="parent-chart1">
      <div class="child-chart1">
        <!-- <div style="text-align: center;">
          <label>Domain:<span>{{this.servername[2]}}</span></label>
          <br /><br />
          <label>CPU:<span>{{this.cpu[2]}}</span></label>&nbsp;&nbsp;
          <label style="padding-left: 50px;">RAM:<span>{{this.ram[2]}}</span></label>
        </div>
        <br /> -->
        <div style="text-align: center;">
          <label>Domain:<span>{{this.domainname[1]}}</span></label>
          <label style="padding-left: 160px;">SSLCert.ExpiryTime:<span
              [ngStyle]="{'color': (this.severity[1] == 'low') ? '#4caf50' : (this.severity[1] == 'Medium') ? '#EF820D' : '#ed0231'}">{{this.ExpiryDate[1]}}</span></label>&nbsp;&nbsp;
          <!-- <label style="padding-left: 50px;">Severity:<span>{{this.severity[1]}}</span></label> -->
        </div>
        <br />
        <div id="chart3"></div>
      </div>
      <div class="child-chart1">
        <!-- <div style="text-align: center;">
          <label>Domain:<span>subzeroiot.com</span></label>
          <br /><br />
          <label>CPU:<span>None</span></label>&nbsp;&nbsp;
          <label style="padding-left: 50px;">RAM:<span>None</span></label>
        </div>
        <br/> -->
        <div style="text-align: center;">
          <label>Domain:<span>{{this.domainname[4]}}</span></label>
          <label style="padding-left: 160px;">SSLCert.ExpiryTime:<span
              [ngStyle]="{'color': (this.severity[4] == 'low') ? '#4caf50' : (this.severity[4] == 'Medium') ? '#EF820D' : '#ed0231'}">{{this.ExpiryDate[4]}}</span></label>&nbsp;&nbsp;
        </div>
        <br />
        <div id="chart4"></div>
      </div>
    </div>
    <div class="parent-chart2">
      <div class="child-chart1">
        <!-- <div style="text-align: center;">
          <label>Domain:<span>{{this.servername[3]}}</span></label>
          <br /><br />
          <label>CPU:<span>{{this.cpu[3]}}</span></label>&nbsp;&nbsp;
          <label style="padding-left: 50px;">RAM:<span>{{this.ram[3]}}</span></label>
        </div>
        <br /> -->
        <div style="text-align: center;">
          <label>Domain:<span>{{this.domainname[3]}}</span></label>
          <label style="padding-left: 160px;">SSLCert.ExpiryTime:<span
              [ngStyle]="{'color': (this.severity[3] == 'low') ? '#4caf50' : (this.severity[3] == 'Medium') ? '#EF820D' : '#ed0231'}">{{this.ExpiryDate[3]}}</span></label>&nbsp;&nbsp;
          <!-- <label style="padding-left: 160px;">Severity:<span>{{this.severity[3]}}</span></label> -->
        </div>
        <br />
        <div id="chart5"></div>
      </div>
      <div class="child-chart1">
        <!-- <div style="text-align: center;">
          <label>Domain:<span>{{this.servername[0]}}</span></label>
          <br /><br />
          <label>CPU:<span>{{this.cpu[0]}}</span></label>&nbsp;&nbsp;
          <label style="padding-left: 50px;">RAM:<span>{{this.ram[0]}}</span></label>
        </div>
        <br /> -->
        <div style="text-align: center;">
          <label>Domain:<span>{{this.domainname[2]}}</span></label>
          <label style="padding-left: 160px;">SSLCert.ExpiryTime:<span
              [ngStyle]="{'color': (this.severity[2] == 'low') ? '#4caf50' : (this.severity[2] == 'Medium') ? '#EF820D' : '#ed0231'}">{{this.ExpiryDate[2]}}</span></label>&nbsp;&nbsp;
          <!-- <label style="padding-left: 50px;">Severity:<span>{{this.severity[0]}}</span></label> -->
        </div>
        <br />
        <div id="chart1"></div>
      </div>
    </div>
    <div class="parent-chart3">
      <div class="child-chart1">
        <!-- <div style="text-align: center;">
          <label>Domain:<span>{{this.servername[1]}}</span></label>
          <br /><br />
          <label>CPU:<span>{{this.cpu[1]}}</span></label>&nbsp;&nbsp;
          <label style="padding-left: 50px;">RAM:<span>{{this.ram[1]}}</span></label>
        </div>
        <br /> -->
        <div style="text-align: center;">
          <label>Domain:<span>{{this.domainname[0]}}</span></label>
          <label style="padding-left: 160px;">SSLCert.ExpiryTime:<span
              [ngStyle]="{'color': (this.severity[0] == 'low') ? '#4caf50' : (this.severity[0] == 'Medium') ? '#EF820D' : '#ed0231'}">{{this.ExpiryDate[0]}}</span></label>&nbsp;&nbsp;
          <!-- <label style="padding-left: 50px;">Severity:<span>{{this.severity[2]}}</span></label> -->
        </div>
        <br />
        <div id="chart2"></div>
      </div>
      <div id="chart6" class="child-chart1"></div>
    </div>
    <div class="parent-chart4">
      <div id="chart7" class="child-chart1"></div>
      <div id="chart8" class="child-chart1"></div>
    </div>
    <div class="parent-chart5">
      <div id="chart9" class="child-chart1"></div>
      <div id="chart10" class="child-chart1"></div>
    </div>
  </div>
</div>
<!-- <div><button (click)="download()" style="margin-left: 598px">Download</button></div> -->
<!--<input type="datetime-local" id="birthdaytime" name="birthdaytime">-->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content" style="height: 35rem;">
      <div class="modal-header">
        <h1 class="modal-title fs-5" style="background-color: white;color: black;" id="exampleModalLabel">License
          Management</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" id="customerNameControl" [(ngModel)]="customerName"
                placeholder="Customer Name">
            </div>
            <div class="col">
              <input type="email" class="form-control" id="emailControl" [(ngModel)]="customerEmailId"
                placeholder="Customer MailId">
            </div>
            <div class="col">
              <input type="date" class="form-control" id="dateControl" [(ngModel)]="fromDateTime" min={{minDate}}>
            </div>
            
            <!-- <div class="col">
              <input type="text" class="form-control" id="phoneNumberControl" [(ngModel)]="customerMobileNumber"
                placeholder="Customer Contact No.">
            </div> -->
            <div class="col">
              <button type="submit" class="btn btn-primary" (click)="generateLicense()">Generate License</button>
            </div>
          </div>
          <br/><br/>
          <div class="row licenseTable" style="overflow-y: scroll; Height:430px; width: 100%">
            <table style="font-size:small">
              <thead>
                <tr>
                  <th style="width: 34px;text-align: center;">Sl.No.</th>
                  <th style="width:100px;text-align: center;">LicenseKey</th>
                  <th style="width:100px;text-align: center;">Organization</th>
                  <th style="width:100px;text-align: center;">Activated By</th>
                  <th style="width:100px;text-align: center;">MacAddress</th>
                  <th style="width:100px;text-align: center;">Start Date</th>
                  <th style="width:100px;text-align: center;">End Date</th>
                  <th style="width:100px;text-align: center;">Customer Name</th>
                  <th style="width:100px;text-align: center;">Customer Mail</th>
                  <!-- <th style="width:100px;text-align: center;">Customer Mobile</th> -->
                </tr>
              </thead>
              <tbody style="font-size:x-small">
                <tr *ngFor="let license of licenseTable;let i = index"
                  [ngStyle]="{'background-color':i%2==0?' #FFFF':'#D8DFEE'}">
                  <td style="width:34px;text-align: center; height: 20px;">{{i+1}}.</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.LicenseKey}}</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.Organization}}</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.ActivatedPersonName}}</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.MacAddress}}</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.startDate}}</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.endDate}}</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.customerName}}</td>
                  <td style="width:100px;text-align: center;height: 20px">{{license.customerMailId}}</td>
                  <!-- <td style="width:100px;text-align: center;">{{license.customerMobileNumber}}</td> -->
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div> -->
    </div>
  </div>
</div>