.child-div1{
    width: 75%;
    float: left;
    padding-right: 40px;
}
.child-div1 { overflow: auto;  }
.child-div1 table {
    border-collapse: collapse;
}
.child-div1 thead th {  
    position: sticky; top: 0; z-index: 1;
    color: rgb(239, 236, 241);
    background-color: #775DD0;
    padding: 8px 5px;font-size: 15px;
    font-family: Arial;
    font-weight: lighter;
    border-color: #775DD0;
} 
.child-div1 td{
    text-align: center;
    padding: 8px 5px;
    font-family: Arial;
    font-weight: lighter;
}
.child-div2{
   width: 10%;  
   box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}
.child-chart1{
    width: 50%;
    float: left;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    background-color: white;
}
.thsize{
    width: 120px;
    text-align: right;
}
.reportAt{
    background-color:	rgb(95, 143, 247);
    color:white;
    width:300px;
    height:80px;
    border: 0px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    text-align: center;
    font-family:Verdana;
    text-justify: auto;
    text-orientation: sideways;
    text-indent: 20px;
}  
.size{
    color:white;
    width:150px;
    height:80px;
    border: 0px solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 5px;
    text-align: left;
    font-family:Verdana;
    text-justify: auto;
    text-orientation: sideways;
    text-indent: 20px;
}
.size1{
      font-size: 30px;
}
.search{
      border-radius: 5px;
      border-style:solid;
      width: 175px;
      height: 25px;
}
.button{
    margin-left: 57%;
}
.mailConfig{
    border: solid rgb(184, 182, 182) 1px ;
    border-radius: 5px;
    height: 28px;
    vertical-align: middle
} 
.chartSelect{
    margin-left: 45%;
    border-radius: 5px;
    border-style:solid;
    width: 175px;
    height: 25px;
}
#B-logout:hover{
    color: rgb(15, 14, 14);
    background-color: white;
    cursor: pointer;
}
h1{
    color:white;
    background-color: #696969;
    text-align: center;
    font-family:'Times New Roman';
    font-size:30px;
}
body {background-color: #F0FFF0;}
a:link {
    color: rgb(12, 12, 12);
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: rgb(67, 231, 149);
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: rgb(12, 9, 10);
    background-color: transparent;
    text-decoration: none;
}
.table1{
  margin-left: 2%;
}
.mapClass{
    margin-left: 60%;
    margin-bottom: 50%;
}
