<!-- <div #myModal class="container" style="z-index: 1000;">
  <div class="content">
    <label>MailIds:</label>&nbsp;<input type="text" class="mailids" id="name" [(ngModel)]="MultipleMail" placeholder="customer@gmail.com">
    <br/><br/>
    <label>Time:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="time" [(ngModel)]="Time" class="time"><br/><br/>
    <input type="button" value="Submit" (click)="submit()">&nbsp;&nbsp;
    <button (click)="close()">Close</button>
  </div>
</div> -->
<!-- <form [formGroup]="mailConfigForm" #myModal class="container" style="z-index: 1000;" (click)="submit()">
  <div class="content">
    <h2 style="text-align: center;">Mail Configuration</h2>
    <br/> 
    <div style="padding-left: 20%;">
      <label matLabel>Mail Id's</label><br/>
      <input matInput type="text" class="mailids"  id="MultipleMail" name="MultipleMail" formControlName="MultipleMail" placeholder="customer@gmail.com">
      <br/><br/>
      
      <label matLabel>Time</label><br/>
      <input type="time" name="Time"  formControlName="Time" class="time"><br/><br/>
      <input class="submit" type="button" value="Submit" [disabled]="!mailConfigForm.valid" >&nbsp;&nbsp;
      <button (click)="close()" class="close">Close</button>  
    </div>
  </div>
</form> -->
<div #myModal class="container" style="z-index: 1000;">
  <div class="content">
    <h2 style="text-align: center;">Mail Configuration</h2>
    <br/> 
    <div style="padding-left: 20%;">
      <label>Mail Id's</label><br/>
      <input type="text" class="mailids"  id="MultipleMail" name="MultipleMail" pattern={{emailPattern}} [(ngModel)]="MultipleMail" placeholder="customer@gmail.com"><i class="fa fa-info-circle" aria-hidden="true" title="Use Comma for Multiple Email ids"></i>
      <br/><br/>
      <label matLabel>Time</label><br/>
      <input type="time" name="Time"  [(ngModel)]="Time" class="time"><br/><br/>
      <input class="submit" type="button" value="Submit" (click)="submit()"/>&nbsp;&nbsp;
      <button (click)="close()" class="close">Close</button>  
    </div>
  </div>
</div>
